

body {

}

p{
    color:#000024;
}

h2, a:link, a:visited{
    color:#000024;
}

h2{
    font-size:1.5em;
}

thead th {
    font-weight: bold;
}
ul {
    list-style: none;
}
li {
    margin: 0;
}

#container {
    background-color:#F5F0EB;
}

#nav ul {
    margin-top:30px;
}

#nav li {
    display: inline;
}

#nav a:hover {
    background-color:white;
}

#nav a {
    font-size: 1.5em;
    padding: 20px;
    text-decoration:none;
}

#articles {
    min-height: 800px;
}
#sidebar {
    min-height: 800px;
}
#footer {
   /* background-color: #f3cfcf;*/
}

#events {
    height: 350px;
    /*background-color: #bfe7c4;*/
    
}
#goat_of_the_week {
    height: 300px;
    /*background-color: #f9bfef;*/
}
#roster {
    height: 500px;
    /*background-color: #cfe2f3;*/

}
#roster,#goat_of_the_week, #events
{
    padding-left:10px;
    border-width:3px;
}
#nav, #logo, #events, #goat_of_the_week
{
    border-width:3px;
}

.article {
    min-height: 200px;
    border-width:3px;
    /*background-color: #F5F0EB;*/
}

.article_image_link {
    text-decoration: none;
}

.article_title {
    color:white;
    font-size:5em;
}

.pop_up {
    border-style:dotted;
    background-color:#F5F0EB;
    padding:10px;
}

.article_image img {
    max-width: 640px;
}

.note{
    font-size:11px;
}

#upcoming_table_event_name{
    padding-right:10px;
}


